#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

table {
  border: 2px;
  padding: 2%;
  /* display: flex; */
  /* flex-direction: row ; */

}

tr {
  padding: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

th {
  
  background-color: #282c34;
  min-height: 4vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

th, td {
  border: 1px solid black;
  padding: 10px
}